
.CarouselCard{
    width: 60px;
    height: 60px;
    margin: 15px;
    margin-left: 0px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.TitleCarouselCard {
    font-family: 'Articulat CF';
    font-style: Bold;
    font-size: 12px;
    Line-height: 100%;
    display: flex;
    justify-content: flex-start;
}


.item {
    width: 100px;
    height: 100px;
    margin: 15px;  
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15); 
    pointer-events: none;
}

.inner-carousel {
    margin: 0;
    display: flex;
    margin-bottom: 10px;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    width: 428px;
    height: auto;
    margin-bottom: 20px;
    /* background: rgb(238, 238, 238); */
}
.CardItemTitle{
    font-size: 12px;
}

.btnViewMore{
      border: none;
      display: flex;
      cursor: pointer;
      position: relative;
      left: 330px;
}

