.filter-button {
  width: 25%;
  height: 110px;

  border-radius: 4px;

  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: articulat-cf, sans-serif;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.filter-button:hover {
  cursor: pointer;
  outline: 2px solid #ffb800;
}

#filter-button-image {
  width: 40px;
  height: 40px;

  justify-self: center;
  margin: 20px 0 12px;
}

.filter-button-text {
  font-family: articulat-cf, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin: 0px 5px;
  text-align: center;
}
