.container {
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

.cta-google-map {
  font-size: 17px;
  font-family: articulat-cf, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.content {
  width: 100%;
  border: 1px solid #ffb800;
  border-radius: 4px;
}

#cta-text {
  text-align: center;
  padding: 8px 0;
}
