.itinerary-page-container {
  font-family: articulat-cf, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.cta-back {
  margin: 40px 0 20px 0;
  background: none;
  border: none;
}

.itinerary-page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.itinerary-page-text {
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: normal;
}

.filter-title {
  margin: 15px 0 15px 0;
}

.filters-section {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  background-color: white;
  margin: 0 0 20px 0;
}

.filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.itinerary-container {
  overflow: scroll;
  height: 500px;
}
