.tour-page-header {
    font-family: articulat-cf, sans-serif;

}


.tour-page-title {
    font-size: 20px;
    font-weight: bold;
}

.tour-page-text {
    margin: 19px 0 19px 0;
    font-size: 14px;
    font-weight: normal;
}

