.tour-page-header {
  font-family: articulat-cf, sans-serif;
  position: sticky;
}

.tour-page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tour-page-text {
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: normal;
}

.cards-container {
  overflow: scroll;
  height: 610px;
}

.tour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
